html, body {
    height: 100%
}

body {
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.5;
    color: #6b7177;
    font-weight: 400
}

ul {
    list-style: outside none none;
}

p, ul, ol {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

*:focus {
    outline: none;
}

h1, h2, h3, h4, h5 {
    margin: 20px 0;
    color: #333;
}

h6 {
    font-size: 12px;
    line-height: 1.66em;
    font-weight: 500;
    letter-spacing: .03em;
    font-family: Poppins, sans-serif;
    color: #4e6dcc;
}

.slide-bg img {
    object-fit: cover;
    object-position: 50% 50%;
    min-height: 500px;
}

.slide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.slide-icon img {
    width: 80px;
    padding: .5rem !important;
}

.slide-icon img:first-child {
    padding-left: 0 !important;
}

@media screen and (max-width: 46.8125em) {
    .slide-icon img {
        width: 60px;
    }
}

/* Section */
.section {
    padding: 4em 0
}

@media screen and (min-width: 46.875em) {
    .section {
        padding-top: 6em;
        padding-bottom: 6em
    }
}

.section .section:first-child:not(:only-child) {
    padding-top: 0
}

.section .section:last-child:not(:only-child) {
    padding-bottom: 0
}

/* End Section */

/* Gallery */
.gallery_image {
    display: block;
    margin-bottom: 1em;
    position: relative;
    overflow: hidden;
    cursor: pointer
}

@media screen and (max-width: 46.8125em) {
    .gallery_image {
        width: 100%
    }
}

.gallery_image img {
    width: 100%;
    transition: transform 300ms;
    transform-origin: 50% 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    max-height: 260px;
    object-fit: cover;
    object-position: 100% 0
}

@media only screen and (max-width: 320px) {
    .gallery_image img {
        max-height: 119px
    }
}

.gallery_image:hover img, .gallery_image:focus img {
    transform: scale(1.02)
}

/* End Gallery */

/* Team */
.team-image img {
    transition: transform 300ms;
    transform-origin: 50% 50%;
}

.team-image:hover img, .team-image:focus img {
    transform: scale(1.02)
}

@media (min-width: 1400px) {
    .container-lg {
        max-width: 1800px;
    }
}


/* End Gallery */